---
import { CollectionEntry, getCollection } from 'astro:content';
import Header from '../../components/tailwindui/Header.astro';
import Heading from '../../components/Heading.astro'
import Container from '../../components/tailwindui/Container.astro';
import Layout from '../../components/tailwindui/Layout.astro';
import Section from '../../components/tailwindui/Section.astro';

export async function getStaticPaths() {
	const posts = await getCollection('docs');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'docs'>;

const post = Astro.props;
const { Content } = await post.render();
---

<Layout>
<Container class="hello">
    <Section
        title={post.data.title}
    >
        <h2>bye</h2>
    </Section>
<h1>{post.data.title}</h1>
<Content
    components={{ Heading }}
/>
</Container>
</Layout>