---
import Layout from "../../components/tailwindui/Layout.astro";
import SimpleLayout from "../../components/tailwindui/SimpleLayout.astro";
import NPMPackages from '../../containers/projects/NPMPackages.astro';
import WPPlugins from '../../containers/projects/WPPlugins.astro';


const {
    lang = 'en'
} = Astro.props

const title = /ja/.test(lang) ? 'OSSへの取り組み' : 'OSS activities'
---
<Layout title={title}>
  <SimpleLayout
    title={title}
  >
    <section class="mt-4 sm:mt-8">
      <header class=" md:grid md:grid-cols-4 md:items-baseline">
        <h2
          id='npm-modules'
          class="md:col-span-1 mb-4 sm:mb-8 text-2xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-3xl">
          NPM packages
        </h2>
      </header>
      <div class='md:grid md:grid-cols-8 md:items-baseline'>
        <div />
        <NPMPackages class="md:col-span-7"/>
      </div>
    </section>
    <section class="mt-4 sm:mt-8">
      <header class=" md:grid md:grid-cols-4 md:items-baseline">
        <h2
          id='wp-plugins'
          class="md:col-span-1 mb-4 sm:mb-8 text-2xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-3xl">
          WordPress plugins
        </h2>
      </header>
      <div class='md:grid md:grid-cols-8 md:items-baseline'>
        <div />
        <WPPlugins class="md:col-span-7"/>
      </div>
    </section>
  </SimpleLayout>
</Layout>