---
import HeroContainer from '../components/Hero/HeroContainer.astro';

const {
    lang = 'en'
} = Astro.props

---
<HeroContainer>
	{lang.startsWith('ja') ? (
	<>
		JavaScriptを利用して、ServerlessなWebアプリケーションの開発を行う。
		また、<a  class="text-underline text-indigo-600" href="https://stripe.com">Stripe</a>のDeveloper Advocateとして、オンライン決済の組み込み方法の紹介やサンプルコードの作成、イベントでの登壇などに取り組みます。
	</>
	): (
	<>
		I'm a JavaScript developer building Serverless web applications on the Jamstack. 
		In addition, I work with founders and developers as a Developer Advocate at <a
			class="text-underline text-indigo-600"
			href="https://stripe.com"
		>Stripe</a>.  
		You can follow me on Twitter at <a
			class="text-underline text-indigo-600"
			href="https://twitter.com/hidetaka_dev"
		>@hidetaka__dev</a>
	</>	
	)}
</HeroContainer>