---
import { changeLanguageURL, getLanguageFromURL, getPathnameWithLangType } from "../../libs/urlUtils/lang.util";
import InnerContainer from "./Containers/InnerContainer.astro";
import OuterContainer from "./Containers/OuterContainer.astro";
import NavLink from "./Footers/NavLink.astro";


const { pathname } = new URL(Astro.request.url)
const lang = getLanguageFromURL(pathname)
---
<footer class="mt-32">
    <OuterContainer>
      <div class="border-t border-zinc-100 pt-10 pb-16 dark:border-zinc-700/40">
        <InnerContainer>
          <div class="flex flex-col items-center justify-between gap-6 sm:flex-row">
            <div class="flex gap-6 text-sm font-medium text-zinc-800 dark:text-zinc-200">
              <NavLink href={getPathnameWithLangType("about", lang)}>About</NavLink>
              <NavLink href={getPathnameWithLangType("projects", lang)}>Projects</NavLink>
              <NavLink href={getPathnameWithLangType("speaking", lang)}>Speaking</NavLink>
              <NavLink href={getPathnameWithLangType("oss", lang)}>Open Source</NavLink>
            </div>
            <div class="flex gap-6 text-sm font-medium text-zinc-800 dark:text-zinc-200"> 
              <NavLink href={changeLanguageURL(pathname, 'ja-JP')}>Japanese</NavLink>
              <NavLink href={changeLanguageURL(pathname, 'en-US')}>English</NavLink>
            </div>
            <p class="text-sm text-zinc-400 dark:text-zinc-500">
              &copy; {new Date().getFullYear()} Hidetaka Okamoto. All rights
              reserved.
            </p>
          </div>
        </InnerContainer>
      </div>
    </OuterContainer>
</footer>