---
import Avatar from "./Avatars/Avatar.astro";
import AvatarContainer from "./Avatars/AvatarContainer.astro";
import Container from "./Container.astro";
import DesktopNavigation from "./Headers/DesktopNavigation.astro";
import MobileNavigation from "./Headers/MobileNavigation.astro";
import ModeToggle from "./Headers/ModeToggle.astro";
import NavItem from "./Headers/NavItem.astro";

---
<header
    class="pointer-events-none relative z-50 flex flex-col"
    style={{
    height: 'var(--header-height)',
    marginBottom: 'var(--header-mb)',
    }}
>
<div
  class="top-0 z-10 h-16 pt-6"
  style={{ position: 'var(--header-position)' }}
>
  <Container
    class="top-[var(--header-top,theme(spacing.6))] w-full"
    style={{ position: 'var(--header-inner-position)' }}
  >
    <div class="relative flex gap-4">
      <div class="flex flex-1">
        <a href="/" class="relative block px-3 py-2 transition pointer-events-auto">
          <span class='sr-only'>Hidetaka.dev</span>
          <h1 class='text-xl dark:text-zinc-200 text-zinc-800 font-extrabold sm:text-2xl xl:text-4xl'>Hidetaka.dev</h1>
        </a>
      </div>
      <div class="flex flex-1 justify-end md:justify-center">
        <DesktopNavigation class="pointer-events-auto hidden md:block" />
      </div>
      <div class="flex flex-1 justify-end md:justify-center">
        <nav class="pointer-events-auto hidden md:block">
          <ul class="flex rounded-full bg-white/90 px-3 text-sm font-medium text-zinc-800 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur dark:bg-zinc-800/90 dark:text-zinc-200 dark:ring-white/10">
            <NavItem href="/ja-JP">Japanese</NavItem>
            <NavItem href="/">English</NavItem>
          </ul>
        </nav>
      </div>
      {/*
      <div class="flex justify-end md:flex-1">
        <div class="pointer-events-auto">
          <ModeToggle />
        </div>
      </div>
       */}
    </div>
  </Container>
</div>
</header>