---
import { getLanguageFromURL } from "../../../libs/urlUtils/lang.util";
import NavItem from "./NavItem.astro";


const { pathname } = new URL(Astro.request.url)
const lang = getLanguageFromURL(pathname)
const getPathname = (targetPath: string, lang: string): string => {
  if (/en/.test(lang)) return `/${targetPath}`
  if (/ja/.test(lang)) return `/ja-JP/${targetPath}`
  return `/${lang}/${targetPath}`
}
---
<nav {...Astro.props}>
    <ul class="flex rounded-full bg-white/90 px-3 text-sm font-medium text-zinc-800 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur dark:bg-zinc-800/90 dark:text-zinc-200 dark:ring-white/10">
      <NavItem href={getPathname("about", lang)}>About</NavItem>
      <NavItem href={getPathname("articles", lang)}>Articles</NavItem>
      <NavItem href={getPathname("projects", lang)}>Projects</NavItem>
      <NavItem href={getPathname("oss", lang)}>OSS</NavItem>
      <NavItem href={getPathname("speaking", lang)}>Speaking</NavItem>
    </ul>
</nav>