---
import Layout from '../components/tailwindui/Layout.astro';
import Container from '../components/tailwindui/Container.astro';
import SocialLink from '../components/tailwindui/SocialLink.astro';
import Twitter from '../components/tailwindui/SocialIcons/Twitter.astro';
import GitHubIcon from '../components/tailwindui/SocialIcons/GitHubIcon.astro';
import LinkedInIcon from '../components/tailwindui/SocialIcons/LinkedInIcon.astro';
import BlogPosts from '../components/BlogPosts/BlogPosts.astro';
import Resume from '../components/Resume.astro';


import { getEntryBySlug } from 'astro:content';
import ExternalLink from '../components/markdoc/ExternalLink.astro';

const entry = await getEntryBySlug('profiles', 'hero');

const { Content } = entry ? await entry.render() : { Content: null};
---

<Layout>
	<Container class="mt-9">
	  <div class="max-w-2xl">
		<h1>
			<span class='block text-sm font-semibold uppercase tracking-wide text-zinc-800 dark:text-zinc-100 sm:text-base lg:text-sm xl:text-base'></span>
			<span class='mt-1 block text-3xl tracking-tight font-extrabold sm:text-4xl xl:text-5xl'>
			  <span class='block text-zinc-800 dark:text-zinc-100'>Hello!</span>
			  <span class='block text-zinc-800 dark:text-zinc-100'>
				I&lsquo;m <span class='text-indigo-600'>Hidetaka Okamoto</span>
			  </span>
			</span>
		  </h1>
		
		<div class="mt-6 text-base text-zinc-600 dark:text-zinc-400">
			{Content ? (
				<Content
					components={{ ExternalLink }}
				/>
			): null}
			</div>
		<div class="mt-6 flex gap-6">
		  <SocialLink
			href="https://twitter.com"
			aria-label="Follow on Twitter"
			icon={Twitter}
		  />
		  <SocialLink
			href="https://github.com"
			aria-label="Follow on GitHub"
			icon={GitHubIcon}
		  />
		  <SocialLink
			href="https://linkedin.com"
			aria-label="Follow on LinkedIn"
			icon={LinkedInIcon}
		  />
		</div>
	  </div>
	</Container>
	<Container class="mt-24 md:mt-28">
	  <div class="mx-auto grid max-w-xl grid-cols-1 gap-y-20 lg:max-w-none lg:grid-cols-2">
		<BlogPosts />
		<div class="space-y-10 lg:pl-16 xl:pl-24">
		  <Resume />
		</div>
	  </div>
	</Container>


</Layout>