---
import Layout from '../components/tailwindui/Layout.astro';
import Container from '../components/tailwindui/Container.astro';
import BlogPosts from '../components/BlogPosts/BlogPosts.astro';
import Resume from '../components/Resume.astro';
import Hero from '../containers/Hero.astro';
import { getLanguageFromURL } from '../libs/urlUtils/lang.util';
/**
 * Static Page
 * This page will rebuild by the microCMS Webhook
 */
export const prerender = true

const currentPage = new URL(Astro.request.url).pathname;
const lang = getLanguageFromURL(currentPage)
console.log({
  index: Astro.request
})
---

<Layout>
	<Hero lang={lang}/>
	<Container class="mt-24 md:mt-28">
	  <div class="mx-auto grid max-w-xl grid-cols-1 gap-y-20 lg:max-w-none lg:grid-cols-2">
		<BlogPosts lang={lang} />
		<div class="space-y-10 lg:pl-16 xl:pl-24">
		  <Resume />
		</div>
	  </div>
	</Container>
</Layout>