---
import Layout from '../components/tailwindui/Layout.astro';
import Container from '../components/tailwindui/Container.astro';
import BlogPosts from '../components/BlogPosts/BlogPosts.astro';
import Resume from '../components/Resume.astro';
import Hero from '../containers/Hero.astro';

---

<Layout>
	<Hero />
	<Container class="mt-24 md:mt-28">
	  <div class="mx-auto grid max-w-xl grid-cols-1 gap-y-20 lg:max-w-none lg:grid-cols-2">
		<BlogPosts />
		<div class="space-y-10 lg:pl-16 xl:pl-24">
		  <Resume />
		</div>
	  </div>
	</Container>
</Layout>