{Astro.props.lang.startsWith('ja') ? (
	<>
		DigitalCubeのBizDev。EC ASPの開発やStripeのDeveloper Advocateとしての経験を元に、SaaSやECサイトの収益を増やすための方法・生成AIを使った効率化や新しい事業モデルの模索などに挑戦する。
	</>
	): (
	<>
		I'm a Business Development professional at DigitalCube. Based on my experience in EC ASP development and as a Developer Advocate at Stripe, I'm working on methods to increase revenue for SaaS and EC sites, exploring efficiency improvements using generative AI, and developing new business models.
		You can follow me on Twitter at <a
			class="text-underline text-indigo-600"
			href="https://twitter.com/hidetaka_dev"
		>@hidetaka__dev</a>
	</>	
	)}