
<h2 class="text-2xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-3xl">
    {Astro.props.lang.startsWith('ja') ? "スピーカー紹介" : "Speaker Profile"}
  </h2>
  <section >
{Astro.props.lang.startsWith('ja') ? (
	<>
	<a class="text-underline text-indigo-600" href="https://stripe.com/docs">Stripe</a>のディベロッパーアドボケイトとして、開発者・ユーザーコミュニティとの対話やコンテンツ・サンプルの提供に取り組む。ECサービスやSaaSサービスの開発・運用保守の経験とコミュニティとの会話を元に、サービスの収益を増やすためにStripeをどう活用すればよいかのコンテンツ・サンプル作成や登壇と、製品フィードバックの共有に注力。複数の開発者コミュニティに参加し、WordCamp Kansai 2024やJP_Stripes Connect 2019など、ユーザーカンファレンスの実行委員長を務めた経験を持つ。 AWS Sumurai 2017, Alexa Champions, AWS Community Builders
    </>
	): (
	<>
Hide (ひで pronounced “Hee-Day”) is a Developer Advocate at <a class="text-underline text-indigo-600" href="https://stripe.com/docs">Stripe</a>, where he works on writing, coding, and teaching how to integrate online payments.
He has organized several community conferences including WordCamp Kyoto and <a class="text-underline text-indigo-600" href="https://connect2019.jpstripes.com/" >JP_Stripes Connect 2019</a>, the first Stripe user conference in Japan.
Prior to Stripe, Hide was a lead Software Engineer at <a  class="text-underline text-indigo-600" href="https://en.digitalcube.jp/">DigitalCube</a>, focused on building plugins, open source, and developing SaaS application dashboards. Hide lives in Hyogo, Japan with his family and two cats.
	</>	
	)}
</section>