---
import clsx from 'clsx'
const Element = `h${Astro.props.level}`

const className = clsx('relative px-4 sm:px-8', Astro.props.level)
---
<header id={Astro.props.id}>
    <h1 class={`level-${Astro.props.level} ${className}`}><slot></slot></h1>
    <Element><slot></slot></Element>
</header>