---
import { sortByEventDate } from "../libs/microCMS/utils";
import BriefcaseIcon from "./tailwindui/Icons/BriefcaseIcon.astro";
import { MicroCMSAPI } from '../libs/microCMS/apis';
import { createCFMicroCMSClient } from '../libs/microCMS/cloudflare';

console.log({
  resume: Astro.request
})
const microCMS = new MicroCMSAPI(createCFMicroCMSClient(Astro.request))
const spokenEvents = sortByEventDate(await microCMS.listEndedEvents())

---
<div class="rounded-2xl border border-zinc-100 p-6 dark:border-zinc-700/40">
    <h2 class="flex text-sm font-semibold text-zinc-900 dark:text-zinc-100">
      <BriefcaseIcon class="h-6 w-6 flex-none" />
      <span class="ml-3">Spoken events</span>
    </h2>
    <ol class="mt-6 space-y-4">
      {spokenEvents.map((event) => (
        <li class="flex gap-4">
          <dl class="flex flex-auto flex-wrap gap-x-2">
            <dt class="sr-only">Company</dt>
            <dd class="w-full flex-none text-sm font-medium text-zinc-900 dark:text-zinc-100">
              {event.title}
            </dd>
            <dt class="sr-only">Role</dt>
            <dd class="text-xs text-zinc-500 dark:text-zinc-400">
              {event.session_title}
            </dd>
            <dt class="sr-only">Date</dt>
            <dd
              class="ml-auto text-xs text-zinc-400 dark:text-zinc-500"
            >
              {event.date}
            </dd>
          </dl>
        </li>
      ))}
    </ol>
  </div>